body{
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 35px;
}
.col-8 {
    background-color: rgb(0, 0, 0);
}
#resposta img {
    width: 500px;   /* tamanho da largura */
    height: auto;   /* mantém a proporção */
    margin-top: 10px;
}
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* fica atrás do site */
}

